.row > div {
  padding: 2px;
  background: #ddd;
  border: 1px solid #fff;
  line-height: 10px;
  gap: 5px;
  border-radius: 10px;
}
.row {
  margin: 40px auto;
  gap: 5px;
}
img {
  border-radius: 20px;
  overflow: hidden;
}
/* Silva pinterest layout css silvawebdesigns.com */
#list {
  width: 100%;
  overflow: hidden;
  margin-bottom: -1.875em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1.875em;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 1.875em;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 1.875em;
  column-fill: auto;
}

.item {
  background-color: #169fe6;
  margin-bottom: 1.875em;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.nav-wrapper {
  background-color: black;
}

a.brand-logo {
  font-size: 4.0rem;
  font-family: 'Megrim', cursive;
  font-weight: bold;
}

input {
  color: white;
}

i.large.material-icons {
  font-size: 3.0rem;
}